.booking-page-main-container {
	display: flex;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.booking-page-right {
	width: 100%;
	min-height: 100%;
}

.booking-page-left {
	padding: 10px;
	box-sizing: border-box;
	width: 50%;
	max-width: 596px;
	height: 100%;
	max-height: 92vh;
	background-color: rgb(251, 251, 251);
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow-y: scroll;
	border-radius: 4px;
	overflow-x: hidden;
}

.booking-page-image {
	min-height: 400px;
	max-height: 416px;
	height: fit-content;
	position: relative;
	display: flex;
	padding-top: 15%;
	box-sizing: border-box;
}

/* Location details */
.booking-page-location-details {
	background-color: white;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
	box-sizing: border-box;
}

.booking-page-location-bottom {
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	box-sizing: border-box;
	width: 100%;
}

.booking-page-room-image {
	max-width: 416px;
	max-width: 596px;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	z-index: 0;
	filter: brightness(50%);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 4px;
	border-top-left-radius: 0px;

	box-sizing: border-box;
}

.booking-page-title {
	color: white;
	margin: 0px;
	padding: 0px;
	z-index: 1;
	height: fit-content;
	width: fit-content;
	margin-left: 5%;
	margin-top: 5%;
	box-sizing: border-box;
}

.booking-page-back {
	z-index: 1;
	position: absolute;
	top: 20px;
	left: 15px;
	cursor: pointer;
	border-radius: 9999px;
	padding: 5px;
}

.booking-page-back:hover {
	background-color: rgb(235, 232, 232);
}

.booking-page-options-container {
	width: 100%;
}

/* Reservation details card */
.booking-page-dates {
	display: flex;
	justify-content: space-between;
	/* padding: 15px; */
	box-sizing: border-box;
}

.booking-page-reservation-details {
	background-color: white;
	padding: 15px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
}

.reservation-details-container {
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}

.reservation-details {
	display: flex;
	justify-content: space-between;
}

/* Actions */

.booking-page-actions {
	background-color: white;
	padding: 15px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
}

.booking-action-cancel,
.booking-action-edit {
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	cursor: pointer;
}

.booking-action-cancel:hover,
.booking-action-edit:hover {
	background-color: rgb(246, 246, 246);
}

/* Directions card */
.booking-page-directions {
	background-color: white;
	padding: 15px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
}

.booking-page-directions-label {
	margin-bottom: 0px;
}

.booking-page-address {
	padding: 10px;
}

.directions-cards {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.direction-card {
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	cursor: pointer;
}

.direction-card:hover {
	background-color: rgb(246, 246, 246);
}

/* Rules  card*/

.booking-page-rules {
	background-color: white;
	padding: 15px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
}

/* Hosted by card */

.booking-page-hosted {
	background-color: white;
	padding: 15px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
}

/* Payment card */

.booking-page-payment {
	background-color: white;
	padding: 15px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
}

/* Map */

.map {
	width: 100%;
	height: 100%;
}

/* Cancel booking */

.cancel-booking-modal {
	width: 85vw;
	max-width: 500px;
	height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px;
	gap: 10px;
	/* box-sizing: border-box; */
}

.cancel-btn {
	box-sizing: border-box;
	transition-duration: 0.25s;
	background-image: radial-gradient(
		circle at center center,
		rgb(255, 56, 92) 0%,
		rgb(230, 30, 77) 27.5%,
		rgb(227, 28, 95) 40%,
		rgb(215, 4, 102) 57.5%,
		rgb(189, 30, 89) 75%,
		rgb(189, 30, 89) 100%
	);
	background-size: 200% 200%;
	border: none;
	border-radius: 12px;
	font-size: 1rem;
	color: rgb(255, 255, 255);
	padding: 10px;
	cursor: pointer;
}

.cancel-btn:active {
	transform: scale(0.96);
	background-image: radial-gradient(
		circle at center,
		rgb(255, 56, 92) 100%,
		rgb(103, 102, 102) 0%
	);
}

/* Edit Booking */

.edit-booking-modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.calendar-menu-main-container {
	max-width: 50vw;
}

.booking-card-dates {
	margin-top: 20px;
}

@media screen and (max-width: 1000px) {
	.booking-page-right {
		display: none;
	}
	.booking-page-left {
		width: 100%;
		max-width: 100%;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
		height: fit-content;
		box-sizing: border-box;
	}
	.booking-page-room-image {
		max-width: 100%;
	}

	.edit-booking-modal {
		height: 100%;
	}
	.calendar-menu-main-container {
		min-width: 100%;
	}
	.booking-page-main-container {
		display: flex;
		justify-content: center;
		width: 100%;
		max-width: 100vw;
	}
	.booking-card-dates {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.edit-booking-modal {
		width: 90vw;
	}
}
