a {
	width: fit-content;
}

.city {
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.25rem;
}

.owner,
.duration {
	font-size: 0.875rem;
	color: rgb(113, 113, 113);
	font-weight: 400;
	line-height: 1.25rem;
	width: fit-content;
	
	white-space: nowrap;
}

.booking-info {
	padding-left: 1rem;
}

.preview-image {
	border-radius: 8px;
	box-sizing: border-box;
	width: 4.5rem;
	height: 4.5rem;
}

.current-bookings-empty-text {
	box-sizing: border-box;
	padding: 1.25rem;
}

.empty-bookings-placeholder {
	display: flex;
	margin-top: 1.25rem;
	justify-content: center;
	width: fit-content;
	align-items: center;
	box-sizing: border-box;
	border: solid 1px rgb(221, 221, 221);
	border-radius: 12px;
}

.empty-bookings-img {
	object-fit: cover;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	display: block;
	width: 100%;
	height: 100%;
}

.empty-bookings-img-container {
	height: 100%;
	min-height: 100%;
}

.booking {
	display: flex;

	width: 12.5rem;
	height: 6rem;
	padding: 0.75rem 0rem;
	justify-content: space-between;
	flex-direction: row;
}

.past-bookings {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 0rem 12.5rem;
}

.search-btn {
	box-sizing: border-box;
	transition-duration: 0.25s;
	background-image: radial-gradient(
		circle at center center,
		rgb(255, 56, 92) 0%,
		rgb(230, 30, 77) 27.5%,
		rgb(227, 28, 95) 40%,
		rgb(215, 4, 102) 57.5%,
		rgb(189, 30, 89) 75%,
		rgb(189, 30, 89) 100%
	);
	background-size: 200% 200%;
	border: none;
	border-radius: 12px;
	font-size: 1rem;
	color: rgb(255, 255, 255);
	width: 12.5rem;
	height: 3rem;
	margin-top: 1.25rem;
	cursor: pointer;
}

.search-btn:active {
	transform: scale(0.96);
}

.review-btn {
	box-sizing: border-box;
	transition-duration: 0.25s;
	background-image: radial-gradient(
		circle at center center,
		rgb(255, 56, 92) 0%,
		rgb(230, 30, 77) 27.5%,
		rgb(227, 28, 95) 40%,
		rgb(215, 4, 102) 57.5%,
		rgb(189, 30, 89) 75%,
		rgb(189, 30, 89) 100%
	);
	background-size: 200% 200%;
	border: none;
	border-radius: 12px;
	font-size: 1rem;
	padding: 0.3rem;
	color: rgb(255, 255, 255);
	width: 4.5rem;
	height: fit-content;
	cursor: pointer;
}

.review-btn:active {
	transform: scale(0.96);
	background-image: radial-gradient(
		circle at center,
		rgb(255, 56, 92) 100%,
		rgb(103, 102, 102) 0%
	);
}
