.room-price-card {
	padding: 1.5rem;
	border: solid 1px rgb(175, 175, 175);
	border-radius: 12px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
	width: 100%;
	max-width: 375px;
	box-sizing: border-box;
}

.room-price-card-top-text {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-price {
	font-size: 1.25rem;
	font-weight: 600;
	margin-right: 0.25rem;
}

.room-price {
	margin-right: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.room-reviews-and-location {
	margin-bottom: 1rem;
}
.room-reviews-and-location.in-price-card {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 10rem;
	margin-bottom: 0rem;
}

.room-owner-and-description {
	/* margin-right: 10rem; */
	width: 100%;
	min-width: 300px;
}

.booking-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: fit-content;
	padding-left: 0px !important;
	padding-right: 0px;
}

.booking-info-wrapper {
	border: solid 1px rgb(176, 176, 176);
	border-radius: 12px;
	width: 372px;
	max-width: 100%;
	box-sizing: border-box;
	/* padding: 10px; */
}

.choose-dates-container {
	display: flex;
	justify-content: space-between;
}

.check-in {
	display: flex;
	flex-direction: column;
}

.check-out {
	display: flex;
	flex-direction: column;
}

.check-in-text,
.checkout-text,
.num-guests {
	font-weight: 400;
	position: absolute;
	font-size: 0.5rem;
	margin-top: 0.75rem;
	margin-left: 1rem;
}

.guests {
	display: flex;
	flex-direction: column;
	width: 100%;

	border-top: solid 1px rgb(176, 176, 176);
}

.price-items > div {
	display: flex;
	justify-content: space-between;
}

.price-total {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	font-size: 1.125rem;
	border-top: solid 1px rgb(176, 176, 176);
	padding-top: 20px;
}

#reviews-modal-link {
	text-decoration: underline;
	cursor: pointer;
}

#reviews-modal-link-inactive {
	text-decoration: none;
	cursor: default;
}

#check-in,
#checkout,
#guest {
	padding: 0.75rem;
	padding-top: 1.5rem;
	box-sizing: border-box;
}

#guest {
	height: 3.5rem;
	max-width: 100%;
}

select {
	appearance: none;

	background-color: transparent;
	border: none;
	padding: 0 1em 0 0;
	margin: 0;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
}

input,
select {
	border: none;
	border-radius: 12px;
	cursor: pointer;
}

.custom-select-container {
	position: relative;
	max-width: 100%;
}

.edit-btn {
	width: 100%;
}

.react-calendar {
	width: 100% !important ;
	border-radius: 2px;
}

.calendar-menu-main-container {
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.booking-card-dates {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.open-calendar-menu {
	border-radius: 4px;
	background-color: red;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	cursor: pointer;
}
