.reviews-modal-container {
	display: flex;
	margin-top: 5rem;
	width: fit-content;
}

.ratings-container {
	display: flex;
	justify-content: center;
	white-space: nowrap;
	width: fit-content;
	margin-right: 5rem;
	font-size: 2rem;
}

.modal-body.reviews-container {
	width: fit-content;
	box-sizing: border-box;
	padding: 1rem 1rem;
}

/* #modal {

	overflow: hidden;
} */

#modal {
	animation: .75s slide-up;
	margin-top: 3rem;
}

@keyframes slide-up {
	from {
		margin-top: 120%;
		/* height: 200%; */
	}
	to {
		margin-top: 3rem;
		/* height: 100%; */
	}
}
