.date {
	font-size: 14px;
	font-weight: 400;
	color: rgb(113, 113, 113);
}

.review {
	max-width: 450px;
	min-width: 400px;
}

.review-content-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: rgb(34, 34, 34);
	line-height: 24px;
	font-size: 16px;
	max-width: 90%;
}
.review-content {
	max-width: 25rem;
	word-wrap: break-word;
	max-height: fit-content;
	white-space: normal;
}
.reviews-overview {
	margin-bottom: 20px;
	font-size: 22px;
	font-weight: 600;
}

.review-user-name {
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	margin-bottom: 5px;
}

.room-reviews-and-location {
	padding-bottom: 15px;
	line-height: 20px;
	font-size: 14px;
}
