#description {
	max-height: 20rem;
	max-width: 100%;
	height: 10rem;
	/* width: 100%; */
	padding: 0.5rem;
	box-sizing: border-box;
}

#latitude,
#longitude {
	width: 100%;
}

form {
	width: 35.5rem;
	max-width: 90vw;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.5rem;
}

label {
	margin-bottom: 0.3125rem;
	font-size: 1.125rem;
}
input {
	padding: 0.3125rem;
}

input[type="file"] {
	display: none;
}

.errors {
	display: flex;
	flex-direction: column;
	padding: 10px;
	gap: 5px;
}

.create-room-image {
	object-fit: cover;
	width: 100%;
	height: 100%;
	/* max-width: 150px; */
	max-height: 150px;
}

.image-select-container {
	width: 100%;
	box-sizing: border-box;
	cursor: pointer;
	height: fit-content;
}

.image-input-select {
	cursor: pointer;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 4px;
	height: 100%;
	background-color: rgb(221, 221, 221);
}

.create-room-form {
	border: solid 1px rgb(221, 221, 221);
	border-radius: 12px;
	box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.18);
	/* max-width: 90vw; */
	box-sizing: border-box;
}
.create-room-gallery {
	display: flex;
	gap: 5px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.gallery-image-container {
	position: relative;
}

.delete-gallery-image {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 4;
	border-radius: 9999px;
	padding: 5px;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* box-sizing: border-box; */
	cursor: pointer;
	background-color: white;
}

.delete-gallery-image:hover {
	background-color: red;
}

.form-label {
	font-size: 1.25rem;
	text-align: start;
	width: fit-content;
	align-self: flex-start;
}

.errors {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}
.form-description {
	font-size: 1.375rem;
	font-weight: 600;
}

.form-input {
	box-sizing: border-box;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.25rem;
	border: solid 1px rgb(175, 175, 175);
	border-radius: 8px;
	width: 100%;
	height: 3.25rem;
	outline: none;
}

.form-input:focus-within {
	border: solid 2px black;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.input-container {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	width: 100%;
	margin: 0.625rem 0rem;
}

.input-container-flex {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.submit-form-btn {
	box-sizing: border-box;
	transition-duration: 0.25s;
	background-image: radial-gradient(
		circle at center center,
		rgb(255, 56, 92) 100%,
		rgb(230, 30, 77) 75%,
		rgb(227, 28, 95) 57.5%,
		rgb(215, 4, 102) 40%,
		rgb(189, 30, 89) 27.5%,
		rgb(189, 30, 89) 0%
	);
	background-size: 200% 200%;

	border: none;
	border-radius: 12px;
	font-size: 1rem;
	color: rgb(255, 255, 255);
	width: 32.5rem;
	max-width: 100%;
	height: 3rem;
	margin-top: 1.875rem;
	cursor: pointer;
}

.submit-form-btn:active {
	transform: scale(0.96);
	background-image: none;

	background-image: radial-gradient(
		circle at center,
		rgb(255, 56, 92) 100%,
		rgb(103, 102, 102) 0%
	);
}
.lat-lng-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	gap: 10px;
	/* padding-left: 1.5rem; */
	/* width: 50%; */
}

.longitude,
.latitude {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#price {
	/* width: 5rem; */
	text-align: center;
}

#state,
#country,
#address,
#city {
	width: 100%;
	min-width: fit-content;
	display: flex;
	justify-content: center;
	text-align: center;
}

.country-container,
.state-container {
	width: 100%;
}

.state-country {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	gap: 10px;
}

.input-container.price {
	display: flex;

	justify-content: center;
	align-items: center;
	width: fit-content;
}

.price-coordinates-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

.form-label.price {
	text-align: center;
	/* padding: 0rem; */
}

.state-country-container {
	display: flex;
	justify-content: space-around;
}

.input-container.size {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.input-toggle {
	display: flex;
	gap: 10px;
	align-items: center;
}

.input-toggle-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.input-nums {
	font-size: 25px;
	width: 30px;
	text-align: center;
}

.input-minus,
.input-plus {
	background-color: white;
	border: solid 1px rgb(177, 177, 177);
	border-radius: 9999px;
	height: 32px;
	width: 32px;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 20px;
}

.input-minus:hover,
.input-plus:hover {
	border: solid 1px rgb(33, 33, 33);
}
.input-minus:active,
.input-plus:active {
	background-color: rgb(184, 181, 181);
}

.toggle-disabled {
	cursor: not-allowed;
	border: solid 1px rgb(236, 236, 236);
	color: rgb(236, 236, 236);
}

.toggle-disabled:hover,
.toggle-disabled:active {
	background-color: white;
	border: solid 1px rgb(236, 236, 236);
	color: rgb(236, 236, 236);
}
