.rooms-container {
	width: 90%;
	max-width: 1600px;
	display: grid;
	flex-wrap: wrap;
	padding-left: 80px;
	padding-right: 80px;
	box-sizing: border-box;

	margin-top: 2.5rem;
	justify-content: center;
	align-items: center;
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
	row-gap: 32px;
	column-gap: 2rem;
}

.content-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
