.rooms-container {
	width: 100%;
	max-width: 1600px;
	display: grid;
	flex-wrap: wrap;
	padding-left: 80px;
	padding-right: 80px;
	box-sizing: border-box;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	justify-content: center;
	align-items: center;
	/* grid-template-rows: minmax(200px, 400px); */
	grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
	row-gap: 1.875rem;
	column-gap: 1.25rem;
}

.content-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.rooms-main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 20px;
	padding-left: 20px;
}
