.rooms-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	box-sizing: border-box;
	justify-content: center;
	line-break: strict;
	line-height: 20px;
	row-gap: 40px;
	column-gap: 24px;
	margin-top: 8px;
	margin-bottom: 32px;
	padding-left: 80px;
	padding-right: 80px;
	margin-block-end: 32px;
	margin-block-start: 8px;

}
