.button-container {
	display: flex;
	justify-content: space-between;
	width: 450px;
}

.room-name {
	font-size: 26px;
	font-weight: 600;
	line-height: 26px;
}

.reviews {
	display: flex;
	flex-wrap: wrap;
	padding-top: 10px;
	padding-bottom: 10px;
}

.description-container {
	display: flex;
	justify-content: flex-start;
	border-top: solid 1px rgb(221, 221, 221);
	border-bottom: solid 1px rgb(221, 221, 221);
	width: 60%;
	padding: 20px;
	align-self: flex-start;
}

.description {
	font-size: 16px;
	font-weight: 400;
	color: #484848;
}

.room-content {
	padding-left: 80px;
	padding-right: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: fit-content;
}

.room-images {
	height: 584px;
	max-width: 1320px;
}

.main-image {
	object-fit: cover;
	height: 560px;

	width: auto;
	max-width: 560px;
}

.content-container {
	display: flex;
	justify-content: center;
}

.delete-btn,
.edit-btn {
	box-sizing: border-box;
	transition-duration: 0.25s;
	background-image: radial-gradient(
		circle at center center,
		rgb(255, 56, 92) 0%,
		rgb(230, 30, 77) 27.5%,
		rgb(227, 28, 95) 40%,
		rgb(215, 4, 102) 57.5%,
		rgb(189, 30, 89) 75%,
		rgb(189, 30, 89) 100%
	);
	background-size: 200% 200%;
	border: none;
	border-radius: 12px;
	font-size: 16px;
	color: rgb(255, 255, 255);
	width: 150px;
	height: 48px;
	margin-top: 30px;
	margin-bottom: 30px;
	cursor: pointer;
}

.delete-btn:active,
.edit-btn:active {
	transform: scale(0.96);
}

.edit {
	display: flex;
	justify-content: center;
	align-items: center;
}

.placeholder-loading-section-1 {
	height: 70px;
	width: 800px;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.placeholder-loading-section-2 {
	height: 450px;
	width: 910px;
	margin-top: 30px;
	display: flex;
	flex-direction: row;

	/* justify-content: space-between; */
}

.placeholder-loading-box-2-container {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	margin-left: 5px;
}

.loading-strip-1 {
	width: 450px;
	height: 30px;
	background-color: rgb(224, 224, 224);
}
.loading-strip-2 {
	width: 350px;
	height: 20px;
	background-color: rgb(224, 224, 224);
}

.loading-strip-3 {
	width: 375px;
	height: 25px;
	background-color: rgb(224, 224, 224);
}
.loading-strip-4 {
	width: 150px;
	height: 20px;
	background-color: rgb(224, 224, 224);
}
.loading-strip-5 {
	width: 150px;
	height: 20px;
	background-color: rgb(224, 224, 224);
}
.loading-strip-6 {
	width: 150px;
	height: 20px;
	background-color: rgb(224, 224, 224);
}

.loading-box-1 {
	height: 455px;
	width: 450px;
	background-color: rgb(224, 224, 224);
	border-bottom-left-radius: 12px;
	border-top-left-radius: 12px;
}

.loading-box-2 {
	height: 225px;
	width: 225px;
	box-sizing: border-box;
	padding: 10px;
	background-color: rgb(224, 224, 224);
}

.placeholder-loading-section-3 {
	height: 60px;
	width: 910px;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
