.review-container-main {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.edit-btn,
.delete-btn {
	box-sizing: border-box;
	transition-duration: 0.25s;
	background-image: radial-gradient(
		circle at center center,
		rgb(255, 56, 92) 0%,
		rgb(230, 30, 77) 27.5%,
		rgb(227, 28, 95) 40%,
		rgb(215, 4, 102) 57.5%,
		rgb(189, 30, 89) 75%,
		rgb(189, 30, 89) 100%
	);
	background-size: 200% 200%;
	border: none;
	border-radius: 12px;
	font-size: 1rem;
	color: rgb(255, 255, 255);

	height: 3rem;
	cursor: pointer;
}

.edit-btn:active,
.delete-btn:active {
	transform: scale(0.96);
	background-image: radial-gradient(
		circle at center,
		rgb(255, 56, 92) 100%,
		rgb(103, 102, 102) 0%
	);
}

.modal-input-label {
	font-size: 10px;
	position: absolute;
	z-index: 2;
	padding: 0.3125rem;
	margin-top: 0.3125rem;
	margin-left: 0.3125rem;

	color: rgb(117, 117, 117);
}
