.placeholder-loading-section-1 {
	height: 70px;
	width: 800px;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.placeholder-loading-section-2 {
	height: 450px;
	width: 910px;
	margin-top: 30px;
	display: flex;
	flex-direction: row;

	/* justify-content: space-between; */
}

.placeholder-loading-box-2-container {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	margin-left: 5px;
}

.loading-strip-1 {
	width: 450px;
	height: 30px;
	background-color: rgb(224, 224, 224);
}
.loading-strip-2 {
	width: 350px;
	height: 20px;
	background-color: rgb(224, 224, 224);
}

.loading-strip-3 {
	width: 375px;
	height: 25px;
	background-color: rgb(224, 224, 224);
}
.loading-strip-4 {
	width: 150px;
	height: 20px;
	background-color: rgb(224, 224, 224);
}
.loading-strip-5 {
	width: 150px;
	height: 20px;
	background-color: rgb(224, 224, 224);
}
.loading-strip-6 {
	width: 150px;
	height: 20px;
	background-color: rgb(224, 224, 224);
}

.loading-box-1 {
	height: 455px;
	width: 450px;
	background-color: rgb(224, 224, 224);
	border-bottom-left-radius: 12px;
	border-top-left-radius: 12px;
}

.loading-box-2 {
	height: 225px;
	width: 225px;
	box-sizing: border-box;
	padding: 0.625rem;
	background-color: rgb(224, 224, 224);
}

.placeholder-loading-section-3 {
	height: 60px;
	width: 910px;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media screen and (max-width: 750px) {
	.placeholder-container {
		max-width: 90vw;
	}
}
