h2 {
	margin-top: 0rem;
}

.button-container {
	display: flex;
	justify-content: space-between;
	justify-content: center;
	margin: auto;
	max-width: 45%;
}

.button-container > button {
	width: 100px;
}

.room-name {
	font-size: 1.625rem;
	font-weight: 600;
	line-height: 1.625rem;
}

.reviews {
	display: flex;
	flex-wrap: wrap;
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
}

.description-container {
	display: flex;
	justify-content: flex-start;
	border-top: solid 1px rgb(221, 221, 221);
	border-bottom: solid 1px rgb(221, 221, 221);
	padding-top: 32px;
	padding-bottom: 48px;
	align-self: flex-start;
	max-width: 700px;
	/* min-width: 300px; */
}

.description {
	font-size: 1rem;
	font-weight: 400;
	color: #484848;
	/* min-width: 300px; */
	/* max-width: 45rem; */
}

.room-check-in-container {
	display: flex;
	flex-direction: column;
	padding: 32px 0px;
	justify-content: flex-start;
	border-top: solid 1px rgb(221, 221, 221);
	max-width: 700px;
	gap: 20px;
}

.room-check-in-single {
	display: flex;
	gap: 10px;
	align-items: flex-start;
}

.check-in-text-container {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.check-in-text-small {
	font-size: 14px;
	color: #717171;
	font-weight: 400;
}

.aircover-container-main {
	display: flex;
	flex-direction: column;
	padding: 32px 0px;
	justify-content: flex-start;
	border-top: solid 1px rgb(221, 221, 221);

	max-width: 700px;
}

.aircover-logo {
	margin-bottom: 16px;
	height: 26px;
	width: 125.156px;
}

.aircover-description {
	color: rgb(34, 34, 34);
	font-size: 16px;
	margin-bottom: 16px;
}

.aircover-learn-more {
	text-decoration: underline;
	cursor: pointer;
	color: rgb(34, 34, 34);
	font-weight: 600;
}

.room-amenities-container {
	display: flex;
	flex-direction: column;
	padding: 32px 0px;
	justify-content: flex-start;

	border-bottom: solid 1px rgb(221, 221, 221);
	max-width: 700px;
}

.room-amenities {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.room-amenity {
	width: 50%;
	max-width: 50%;
	height: 24px;
	color: rgb(34, 34, 34);
	padding-bottom: 16px;
}

.room-content {
	/* padding-left: 5rem;
	padding-right: 5rem; */
	box-sizing: border-box;
	width: 100%;
	max-width: 1120px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.room-images {
	max-width: 1120px;
	max-height: 560px;
	height: 60vh;
	width: 95%;
	display: flex;
	gap: 10px;
	justify-content: center;
}
.room-images-left {
	height: 60vw;
	max-height: 560px;
}
.room-images-side {
	height: 100%;
	max-height: 560px;
	max-width: 560px;
	display: flex;
	height: 60vw;
}

.room-images-container {
	display: flex;
	flex-direction: column;
	height: 560px;
	flex-wrap: wrap;
	width: 50%;
	height: 50vh;
	max-height: 560px;
	gap: 10px;
}

.room-image-small {
	object-fit: cover;
	height: 100%;
	max-height: 275px;
	width: calc(25vw - 5px);
	max-width: 100%;
	border-radius: 0px;
	height: calc(25vh - 5px);
}
.room-image-small-placeholder {
	max-width: 280px;
	max-height: 272px;
	height: 100%;
	width: 100%;
	width: 280px;
	object-fit: cover;
	border-radius: 0px;
	background-color: rgb(222, 215, 215);
}

.top-right {
	border-top-right-radius: 12px;
}
.bottom-right {
	border-bottom-right-radius: 12px;
}

.main-image {
	object-fit: cover;
	height: 100%;
	max-width: 560px;
	max-height: 560px;
	height: 50vh;
	width: 50vw;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.content-container {
	display: flex;
	justify-content: center;
	margin-bottom: 5rem;
	width: 100vw;
}

.delete-btn,
.edit-btn {
	box-sizing: border-box;
	transition-duration: 0.25s;
	background-image: radial-gradient(
		circle at center center,
		rgb(255, 56, 92) 0%,
		rgb(230, 30, 77) 27.5%,
		rgb(227, 28, 95) 40%,
		rgb(215, 4, 102) 57.5%,
		rgb(189, 30, 89) 75%,
		rgb(189, 30, 89) 100%
	);
	background-size: 200% 200%;
	border: none;
	border-radius: 12px;
	font-size: 16px;
	color: rgb(255, 255, 255);
	width: 150px;
	height: 48px;
	margin-top: 30px;
	margin-bottom: 30px;
	cursor: pointer;
}

.delete-btn:active,
.edit-btn:active {
	transform: scale(0.96);
}

.edit {
	display: flex;
	justify-content: center;
	align-items: center;
}

.room-details-container {
	display: flex;
	/* margin: 2rem 0rem; */
	justify-content: space-between;
	width: 95%;
	gap: 20px;
}

.room-size {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-top: 48px;
	padding-bottom: 24px;
}

.room-size-detail {
	font: 16px;
	color: #222222;
	font-weight: 400;
	line-height: 20px;
}

.room-hosted-by {
	font-size: 22px;
	font-weight: 600;
	margin: 0px;
	padding: 0px;
	color: #222222;
}

.room-details {
	width: 95%;
}

/* Map */

.room-page-map {
	width: 100%;
	padding: 30px;
	box-sizing: border-box;
}

.map-small {
	height: 480px;
	width: 100%;
	border-radius: 4px;
}

.gallery {
	display: none;
	width: 100%;
	height: 100%;
}

.gallery-img {
	width: 100%;
	height: 40vh;
	object-fit: cover;
	cursor: pointer;
}

.gallery-nav {
	padding: 5px;
	color: white;
	border-radius: 9999px;
	padding: 5px;
}

.reviews-container {
	width: 95%;
	box-sizing: border-box;
	margin-top: 48px;
	padding-bottom: 24px;
}

.owner-bookings {
	width: 100%;
	max-width: 300px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-top: 48px;
}

.owner-booking {
	display: flex;
	padding: 5px;
	border: solid 1px rgb(221, 221, 221);
	border-radius: 9999px;
}

.learn-more-modal {
	display: flex;
	flex-direction: column;
	width: 1032px;
	height: 574px;
	background-color: white;
	border-radius: 12px;
	max-width: 90vw;

	box-sizing: border-box;
}
.exit-learn-more {
	width: 32px;
	height: 32px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 9999px;
	box-sizing: border-box;
}

.exit-learn-more-header {
	height: 64px;
	padding: 24px;
	box-sizing: border-box;
}

.learn-more-subheader {
	padding: 0px 32px;
}

.exit-learn-more:hover {
	background-color: rgb(247, 247, 247);
}

.learn-more-modal-top {
}

.aircover-logo.in-modal {
	height: 32px;
	margin-top: 8px;
	margin-bottom: 16px;
	object-fit: contain;
}

.learn-more-subheader-description {
	padding-bottom: 32px;
	margin-bottom: 16px;
	border-bottom: solid 1px lightgray;
}

.learn-more-content-box {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
	padding: 32px;
	box-sizing: border-box;
}

.learn-more-grid-cell-title {
	font-size: 16px;
	margin-bottom: 8px;
}
.learn-more-grid-cell-text {
	color: #717171;
}

.owned-room-header {
	width: 95%;
	border: solid 1px rgb(222, 221, 221);
	height: 40px;
	margin-top: 20px;
	border-radius: 4px;
	background-color: rgb(255, 131, 135);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
}

@media screen and (max-width: 780px) {
	.room-images {
		display: none;
	}
	.room-details-container {
		flex-direction: column;
	}

	.content-container {
		width: 100%;
	}
	.room-content {
		width: 100%;
		padding: 0px;
	}

	.room-size {
		padding-top: 0px;
	}
	.gallery {
		display: flex;
		position: relative;
	}

	.gallery-nav {
		position: absolute;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 15px;
		height: 15px;
	}

	.gallery-nav:hover {
		background-color: white;
		color: black;
	}
	.gallery-nav:active {
		background-color: rgb(232, 232, 232);
		color: black;
	}

	.gallery-nav.left {
		left: 10px;
		bottom: 10px;
		z-index: 1;
	}
	.gallery-nav.right {
		right: 10px;
		bottom: 10px;
		z-index: 1;
	}
	.gallery-img {
		border-radius: 0px;
	}

	.room-price-card-container,
	.reviews {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.room-price-card {
		margin: 0px;
		padding: 10px;
	}

	.room-page-map {
		padding: 10px;
	}

	.reviews-container {
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
	}

	.reviews-overview {
		text-align: center;
	}

	.learn-more-modal {
		overflow-y: scroll;
	}

	.learn-more-content-box {
		grid-template-columns: 1fr;
	}
}
