form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.5rem;
}

ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding-left: 0rem;
}

.modal-body {
	box-sizing: border-box;
	width: 35.5rem;
	height: 42.625rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.modal-body.login {
	height: 500px;
}

.modal-welcome {
	font-size: 1.375rem;
	font-weight: 600;
	align-self: flex-start;
	padding-left: 1.5625rem;
}

.modal-input {
	box-sizing: border-box;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.25rem;
	border: solid 1px rgb(175, 175, 175);
	border-radius: 8px;
	padding: 0.625rem;
	margin-top: 0.3rem;
	width: 32.5rem;
	height: 3.5rem;
	outline: none;
}

.modal-input:focus-within {
	border: solid 2px black;
}

.modal-input-label {
	font-size: 0.625rem;
	position: absolute;
	z-index: 2;
	padding: 0.3rem;
	margin-top: 0.3rem;
	margin-left: 0.3rem;
	color: rgb(117, 117, 117);
}

.modal-header {
	box-sizing: border-box;
	border-bottom: solid 1px rgb(235, 235, 235);
	width: 100%;
	display: flex;
	font-size: 1rem;
	font-weight: 800;
	line-height: 1.25rem;
	min-height: 4rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.modal-exit-btn {
	position: absolute;
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0.5rem;
	top: 0.5rem;
	border-radius: 90px;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	height: 2rem;
	width: 2rem;
}
.modal-exit-btn:hover {
	cursor: pointer;
	background-color: rgb(246, 246, 246);
}

.modal-title {
	margin: auto;
}

.login-register-submit {
	box-sizing: border-box;
	transition-duration: 0.25s;
	background-image: radial-gradient(
		circle at center center,
		rgb(255, 56, 92) 0%,
		rgb(230, 30, 77) 27.5%,
		rgb(227, 28, 95) 40%,
		rgb(215, 4, 102) 57.5%,
		rgb(189, 30, 89) 75%,
		rgb(189, 30, 89) 100%
	);
	/* background-color: rgba(255, 56, 92, 0.5); */
	background-size: 200% 200%;
	border: none;
	border-radius: 12px;
	font-size: 1rem;
	color: rgb(255, 255, 255);
	width: 32.5rem;
	height: 3rem;
	margin-top: 1.25rem;
}

.login-register-submit:active {
	transform: scale(0.96);
	background-image: radial-gradient(
		circle at center,
		rgb(255, 56, 92) 100%,
		rgb(103, 102, 102) 0%
	);
}

.login-register-submit.disabled {
	background-image: radial-gradient(
		circle at center center,
		rgb(162, 161, 162) 0%,
		rgb(107, 103, 104) 27.5%
	);
	color: black;
	border: solid 1px black;
}

.login-register-submit.disabled:active {
	transform: none;
}
.errors {
	display: flex;
	justify-content: center;
	align-items: center;
}


