a {
	width: fit-content;
}

.city {
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
}

.owner,
.duration {
	font-size: 14px;
	color: rgb(113, 113, 113);
	font-weight: 400;
	line-height: 20px;
	white-space: normal;
}

.preview-image {
	border-radius: 8px;
	box-sizing: border-box;
	width: 72px;
	height: 72px;
}

.booking {
	display: flex;
	width: 200px;
	height: 96px;
	padding: 12px 0px;
	justify-content: space-between;
	flex-direction: row;
}

.past-bookings {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 0px 200px;
}

.search-btn {
	box-sizing: border-box;
	transition-duration: 0.25s;
	background-image: radial-gradient(
		circle at center center,
		rgb(255, 56, 92) 0%,
		rgb(230, 30, 77) 27.5%,
		rgb(227, 28, 95) 40%,
		rgb(215, 4, 102) 57.5%,
		rgb(189, 30, 89) 75%,
		rgb(189, 30, 89) 100%
	);
	background-size: 200% 200%;
	border: none;
	border-radius: 12px;
	font-size: 16px;
	color: rgb(255, 255, 255);
	width: 200px;
	height: 48px;
	margin-top: 20px;
	cursor: pointer;
}

.search-btn:active {
	transform: scale(0.96);
}
