.footer {
	position: sticky;
	bottom: 0px;
	border-top: solid 1px rgb(221, 221, 221);
	background-color: white;
	padding: 13px 40px 14px 40px;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.footer-right {
	display: flex;
	gap: 20px;
}

span > a:hover {
	text-decoration: underline;
	color: rgb(255, 90, 95);
}

@media screen and (max-width: 1000px) {
	.footer-left {
		display: none;
	}
	.footer {
		justify-content: center;
	}
}
