.rooms-container {
	width: 100%;
	max-width: 1600px;
	display: grid;
	flex-wrap: wrap;
	padding-left: 80px;
	padding-right: 80px;
	box-sizing: border-box;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
	grid-template-rows: 1fr;
	row-gap: 1.875rem;
	column-gap: 1.25rem;
}

.content-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.rooms-main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.single-room-container {
	margin: auto;
}

.no-rooms-container {
	width: 100%;
	height: 100%;
	max-width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
	flex-direction: column;
}



@media screen and (max-width: 770px) {
	.rooms-container {
		width: 550px;
		max-width: 100%;

		padding-left: 15px;
		padding-right: 15px;
		box-sizing: border-box;
		margin-bottom: 60px;
	}
}
