

#logo {
	width: 118px;
	height: 64px;
	padding-left: 0px;
}

.nav-container {
	width: 100%;
	border-bottom: solid 1px #dedddd;
	height: 80px;
	box-sizing: border-box;
	padding-left: 80px;
	padding-right: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
