#logo {
	width: 7.35rem;
	/* height: 4rem; */
	object-fit: fill !important;
	padding-left: 10px;
}

.nav-items {
	width: 100%;
	max-width: 100rem;

	height: 5rem;
	box-sizing: border-box;
	padding-left: 5rem;
	padding-right: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-container {
	width: 100%;
	display: flex;
	justify-content: center;
	border-bottom: solid 1px #dedddd;
	/* margin-bottom: 1rem; */
}

@media screen and (max-width: 780px) {
	.nav-items {
		padding-left: 15px;
		padding-right: 15px;
	}
}
