#logo {
	width: 118px;
	height: 64px ;  
	object-fit: fill !important;
	padding-left: 0px;
}

.nav-items{
	width: 100%;
	max-width: 2150px;


	height: 80px;
	box-sizing: border-box;
	padding-left: 80px;
	padding-right: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.nav-container {
	width: 100%;
	display: flex;
	justify-content: center;
	border-bottom: solid 1px #dedddd;
}