/* Font from https://rsms.me/inter/ */

@import url("https://rsms.me/inter/inter.css");
html {
	font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
	html {
		font-family: "Inter var", sans-serif;
	}
}
html,
body {
	margin: 0;
	min-height: 100vh;
	height: 100%;
	/* overflow: scroll; */
}
/* body {
	height: 100vh;
	height: 100%;
	/* overflow-y: hidden; */
/* }  */

textarea {
	font-family: "Inter var", sans-serif;
	resize: vertical;
	overflow-y: scroll;
	max-height: 15rem;
	min-height: 5rem;
}

button {
	cursor: pointer;
}

select,
input {
	font-family: "Inter var", sans-serif;
}

#root {
	min-height: 100vh;
}

.error {
	color: red;
	width: 100%;
	text-align: start;
}
