svg {
	padding: 5px;
}

.filter-grey {
	filter: invert(49%) sepia(1%) saturate(0%) hue-rotate(175deg)
		brightness(89%) contrast(92%);
}

.profile-button {
	width: fit-content;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 5px 5px 5px 12px;
	border-radius: 90px;
	border: solid 1px #dedddd;
	z-index: 2;
	cursor: pointer;
	background-color: #ffffff;
}

.profile-button:hover {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
	transition: 0.2s;
}

.profile-dropdown {
	position: fixed;
	padding: 5px 5px 5px 12px;
	margin: 10px;
	width: 240px;
	height: 243px;
	right: 10px;
	border: 1px solid #ebebeb;
	border-radius: 21px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	z-index: 1;
}

.session-links {
	display: flex;
	justify-content: center;
	align-items: center;
}
